<!-- ====== Hero Section Start -->
<section
        id="home"
        class="relative overflow-hidden bg-gray-100 pt-[120px] md:pt-[130px] lg:pt-[160px]"
>
    <div class="w-full bg-blue-950 py-4 flex items-center">
        <div class="text-red_pantone text-2xl md:text-1xl font-extrabold ml-40">
            Call 0448 912 600
        </div>
    </div>

    <div
            class="relative w-full h-[500px] md:h-[600px] lg:h-[700px] overflow-hidden flex items-center justify-center bg-gradient-to-r from-red_pantone-400 to-red_pantone-500"
    >
        <!-- Background Image -->
        <img
                src="Van.png"
                alt="Carpet Cleaning Van"
                class="absolute inset-0 w-full h-full object-cover z-0"
        />

        <!-- Overlay Content -->
        <div class="absolute right-8 md:right-16 lg:right-24 top-1/4 z-20 text-right text-white max-w-[500px] p-4 bg-gradient-to-r from-transparent via-blue-950/30 to-blue-950/60 rounded-md">
            <h1
                    class="mb-6 text-4xl md:text-5xl font-extrabold leading-snug sm:text-4xl sm:leading-snug lg:text-6xl lg:leading-[1.2] text-shadow"
            >
                <span class="bg-gradient-to-r from-red-500 to-red-700 bg-clip-text text-transparent">Excel</span>
                Carpet &amp; Tile Cleaning
            </h1>
            <p
                    class="mb-8 font-medium text-lg sm:text-xl sm:leading-[1.5] text-white/90 text-shadow-md"
            >
                Elevate your home with our top-quality carpet, tile, and rug services in Bunbury and Mandurah, backed by
                our family-owned business's legacy of excellence.
            </p>
            <a
                    href="/#contact"
                    class="inline-block py-3 px-7 text-lg font-semibold text-white transition border border-transparent rounded-lg bg-red_pantone-500 hover:bg-red-600 shadow-lg hover:scale-105 transform duration-300"
            >
                Get a quote
            </a>
        </div>

        <!-- Gradient Overlay -->
        <div
                class="absolute inset-0 bg-gradient-to-t from-black/60 via-black/40 to-transparent z-[1]"
        ></div>
    </div>
</section>
<!-- ====== Hero Section End -->
