<!-- ====== Features Section Start -->
<section class="pb-8 pt-20 dark:bg-dark lg:pb-[70px] lg:pt-[120px]">
  <div class="container">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-12 max-w-[485px] text-center lg:mb-[70px]">
          <span class="mb-2 block text-lg font-semibold text-primary"></span>
          <h2
            class="mb-3 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]"
          >
            The Services We Offer
          </h2>
        </div>
      </div>
      <!-- Dynamically added service sections start -->

      <!-- Carpet Cleaning -->
      <section id="carpet-cleaning">
      <div class="w-full px-4 py-6">
        <div class="-mx-4 flex flex-wrap items-center">
          <!-- Text Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8">
              <!-- Text Content -->
              <div class="mb-8">
                <h3 class="mb-2 text-2xl font-bold text-dark dark:text-white">Carpet Cleaning</h3>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 1
                </p>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 2
                </p>
                <p class="text-base text-gray-600 dark:text-gray-300">
                  Paragraph 3
                </p>
              </div>
            </div>
          </div>
          <!-- Image Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8">
              <!-- Image -->
              <img
                src="/assets/features/carpet_hero.jpg"
                alt="Service Image"
                class="rounded-lg shadow-lg"
              />
            </div>
          </div>
        </div>
      </div>
      </section>
      <!-- Tile and grout Cleaning -->
      
      <section id="tile-cleaning">
      <div class="w-full px-4 py-6">
        <div class="-mx-4 flex flex-wrap items-center">
          <!-- Image Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8 lg:mb-0">
              <!-- Image -->
              <img
                src="/assets/features/carpet_hero.jpg"
                alt="Service Image"
                class="rounded-lg shadow-lg"
              />
            </div>
          </div>
          <!-- Text Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8 lg:mb-0">
              <!-- Text Content -->
              <div class="mb-8">
                <h3 class="mb-2 text-2xl font-bold text-dark dark:text-white">Tile & Grout Cleaning</h3>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 1
                </p>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 2
                </p>
                <p class="text-base text-gray-600 dark:text-gray-300">
                  Paragraph 3
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
      
      <!-- Rug Restoration -->
      
      <section id="rug-cleaning">
      <div class="w-full px-4 py-6">
        <div class="-mx-4 flex flex-wrap items-center">
          <!-- Text Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8">
              <!-- Text Content -->
              <div class="mb-8">
                <h3 class="mb-2 text-2xl font-bold text-dark dark:text-white">Rug Restoration</h3>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 1
                </p>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 2
                </p>
                <p class="text-base text-gray-600 dark:text-gray-300">
                  Paragraph 3
                </p>
              </div>
            </div>
          </div>
          <!-- Image Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8">
              <!-- Image -->
              <img
                src="/assets/features/carpet_hero.jpg"
                alt="Service Image"
                class="rounded-lg shadow-lg"
              />
            </div>
          </div>
        </div>
      </div>
      </section>
      
      <!-- Lounge Suites -->
      <section id="lounge-cleaning">
      <div class="w-full px-4 py-6">
        <div class="-mx-4 flex flex-wrap items-center">
          <!-- Image Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8 lg:mb-0">
              <!-- Image -->
              <img
                src="/assets/features/carpet_hero.jpg"
                alt="Service Image"
                class="rounded-lg shadow-lg"
              />
            </div>
          </div>
          <!-- Text Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8 lg:mb-0">
              <!-- Text Content -->
              <div class="mb-8">
                <h3 class="mb-2 text-2xl font-bold text-dark dark:text-white">Lounge Suites</h3>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 1
                </p>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 2
                </p>
                <p class="text-base text-gray-600 dark:text-gray-300">
                  Paragraph 3
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      <!-- Mattress cleaning -->
      <section id="mattress-cleaning">
      <div class="w-full px-4 py-6">
        <div class="-mx-4 flex flex-wrap items-center">
          <!-- Text Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8">
              <!-- Text Content -->
              <div class="mb-8">
                <h3 class="mb-2 text-2xl font-bold text-dark dark:text-white">Mattress cleaning</h3>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 1
                </p>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 2
                </p>
                <p class="text-base text-gray-600 dark:text-gray-300">
                  Paragraph 3
                </p>
              </div>
            </div>
          </div>
          <!-- Image Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8">
              <!-- Image -->
              <img
                src="/assets/features/carpet_hero.jpg"
                alt="Service Image"
                class="rounded-lg shadow-lg"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
      <!-- Vehicle Interiors -->
      <section id="vehicle-cleaning">
      <div class="w-full px-4 py-6">
        <div class="-mx-4 flex flex-wrap items-center">
          <!-- Image Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8 lg:mb-0">
              <!-- Image -->
              <img
                src="/assets/features/carpet_hero.jpg"
                alt="Service Image"
                class="rounded-lg shadow-lg"
              />
            </div>
          </div>
          <!-- Text Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8 lg:mb-0">
              <!-- Text Content -->
              <div class="mb-8">
                <h3 class="mb-2 text-2xl font-bold text-dark dark:text-white">Vehicle Interiors</h3>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 1
                </p>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 2
                </p>
                <p class="text-base text-gray-600 dark:text-gray-300">
                  Paragraph 3
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      <!-- Strip & Seal -->
      <section id="strip-seal">
      <div class="w-full px-4 py-6">
        <div class="-mx-4 flex flex-wrap items-center">
          <!-- Text Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8">
              <!-- Text Content -->
              <div class="mb-8">
                <h3 class="mb-2 text-2xl font-bold text-dark dark:text-white">Strip & Seal</h3>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 1
                </p>
                <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 2
                </p>
                <p class="text-base text-gray-600 dark:text-gray-300">
                  Paragraph 3
                </p>
              </div>
            </div>
          </div>
          <!-- Image Column -->
          <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8">
              <!-- Image -->
              <img
                src="/assets/features/carpet_hero.jpg"
                alt="Service Image"
                class="rounded-lg shadow-lg"
              />
            </div>
          </div>
        </div>
      </div>
    </section>




      <!-- Template begins here, do not delete these, just comment them out.
      If you need to add a new section, copy and paste the appropriate left or right section -->
      <!-- Left Service Section: Image on the Right -->
      <!-- <div class="w-full px-4 py-6"> -->
        <!-- <div class="-mx-4 flex flex-wrap items-center"> -->
          <!-- Text Column -->
          <!-- <div class="w-full px-4 lg:w-1/2"> -->
            <!-- <div class="mb-8"> -->
              <!-- Text Content -->
              <!-- <div class="mb-8"> -->
                <!-- <h3 class="mb-2 text-2xl font-bold text-dark dark:text-white">Template Left</h3> -->
                <!-- <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 1
                </p> -->
                <!-- <p class="mb-4 text-base text-gray-600 dark:text-gray-300">
                  Paragraph 2
                </p> -->
                <!-- <p class="text-base text-gray-600 dark:text-gray-300"> -->
                  <!-- Paragraph 3
                </p>
              </div>
            </div>
          </div> -->
          <!-- Image Column -->
          <!-- <div class="w-full px-4 lg:w-1/2">
            <div class="mb-8"> -->
              <!-- Image -->
              <!-- <img
                src="/assets/features/carpet_hero.jpg"
                alt="Service Image"
                class="rounded-lg shadow-lg"
              /> -->
            <!-- </div>
          </div>
        </div>
      </div> -->


      <!-- Right Service Section: Image on the Left -->
      <!-- <div class="w-full px-4 py-6"> -->
        <!-- <div class="-mx-4 flex flex-wrap items-center"> -->
          <!-- Image Column -->
          <!-- <div class="w-full px-4 lg:w-1/2"> -->
            <!-- <div class="mb-8 lg:mb-0"> -->
              <!-- Image -->
              <!-- <img -->
                <!-- src="/assets/features/carpet_hero.jpg" -->
                <!-- alt="Service Image" -->
                <!-- class="rounded-lg shadow-lg" -->
              <!-- /> -->
            <!-- </div> -->
          <!-- </div> -->
          <!-- Text Column -->
          <!-- <div class="w-full px-4 lg:w-1/2"> -->
            <!-- <div class="mb-8 lg:mb-0"> -->
              <!-- Text Content -->
              <!-- <div class="mb-8"> -->
                <!-- <h3 class="mb-2 text-2xl font-bold text-dark dark:text-white">Template Right</h3> -->
                <!-- <p class="mb-4 text-base text-gray-600 dark:text-gray-300"> -->
                  <!-- Paragraph 1 -->
                <!-- </p> -->
                <!-- <p class="mb-4 text-base text-gray-600 dark:text-gray-300"> -->
                  <!-- Paragraph 2 -->
                <!-- </p> -->
                <!-- <p class="text-base text-gray-600 dark:text-gray-300"> -->
                  <!-- Paragraph 3 -->
                <!-- </p> -->
              <!-- </div> -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
      <!-- Dynamically added service sections end -->
    </div>
  </div>
</section>
<!-- ====== Features Section End -->
